/* ==========================================================================
   Main Content
   ========================================================================== */

.site-inner {
}

.content-sidebar-wrap {
}

.content {
}
.block-amenities{
	i.icon{
		position: relative;
		top: 7px;
	}
}
.dark-link a{
	color: #262626;
	text-decoration: underline;
}
/* ==========================================================================
   Sidebars
   ========================================================================== */

.sidebar-primary {
}

.sidebar-secondary {
}
