.block-amenities {
    .block-the-content {
        border: 5px solid #e9e9e9;
        padding: 10px 50px;
        font-family: $font-semibold;
        .row-fluid {
            margin-bottom: 0px;
        }
    }
    .icon-service {
        position: relative;
        .icon {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .icon-description {
            padding-left: 40px;
            max-width: 90%;
        }
    }
}

.icon:before {
    margin-right: 10px;
}

.icon-relax:before {
    content: url("assets/images/icon-relax.png");
}

.icon-room:before {
    content: url("assets/images/icon-room.png");
}

.icon-site:before {
    content: url("assets/images/icon-site.png");
}

.icon-paper:before {
    content: url("assets/images/icon-paper.png");
}

.icon-events:before {
    content: url("assets/images/icon-events.png");
}

.icon-airport:before {
    content: url("assets/images/icon-airport.png");
}

.icon-nursing:before {
    content: url("assets/images/icon-airport.png");
}

.icon-smoke:before {
    content: url("assets/images/icon-smoke.png");
}

.conference-blocks {
    .row-fluid {
        background-color: #fff;
        padding: 44px;
        .span1 {
            width: 0;
        }
        .span2 {
            width: 20%;
            margin-left: 0;
            padding: 0 20px;
            border-right: 1px solid #d4d4d4;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                border-right: 0px;
            }
        }
    }
    h4 {
        font-size: 18px;
        font-family: 'open_sanssemibold';
    }
    h5 {
        font-size: 14px;
        width: 100%;
        display: block;
        text-align: center;
        position: relative;
        &:before {
            content: "";
            background-color: #e9e9e9;
            width: 30%;
            height: 6px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -3px;
        }
        &:after {
            content: "";
            background-color: #e9e9e9;
            width: 30%;
            height: 6px;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -3px;
        }
    }
    p {
        font-size: 11px;
    }
    table {
        font-size: 14px;
        margin-bottom: 0;
        tbody {
            border: none;
        }
        td {
            border: none;
            padding: 0 0 10px;
        }
    }
}

.feature {
    .feature-wrap {
        text-align: center;
        >div {
            padding: 35px 30px;
            border: 1px solid #f2f2f2;
            margin-bottom: 60px;
        }
        &.one-third {
            width: 33.33%;
            margin-left: 0;
        }
        &.best-plan {
            margin-top: -20px;
            border-color: #dbdbdb;
            >div {
                padding-top: 55px;
                padding-bottom: 60px;
            }
        }
        p {
            font-size: 12px;
        }
        h2 {
            font-size: 68px;
            font-family: open_sanssemibold;
            margin-bottom: 0;
        }
        h5 {
            font-size: 13px;
        }
        .features-list {
            text-align: left;
            margin-bottom: 35px;
            li {
                font-size: 12px;
                margin-bottom: 20px;
                i {
                    margin-right: 10px;
                }
            }
        }
        .rates {
            margin-top: 10px;
            margin-bottom: 30px;
            li {
                padding-top: 20px;
                padding-bottom: 20px;
                font-size: 14px;
                border-top: 1px solid #dbdbdb;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        .plan_description {
            border: 0px;
            padding: 0px !important;
            max-width: 65%;
            margin: 0 auto;
        }
    }
}

.page-id-203 .gallery-slider {
    display: none;
}

.page-id-203 h3,
.page-id-130 h3 {
  font-family: open_sansregular;
  font-size: 40px;
  margin-bottom: 30px;
}